.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    border-bottom: 1px solid #efefef;
    height: 44px;

    >span {
      color: #42bd56;
      font-size: 15px;
    }

    >.title {
      color: #333;
      font-size: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .ratingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 1px solid #efefef;
  }

  .commentContainer {
    padding: 0 18px;
    .subTitle {
      color: #aaa;
      margin: 0 0 15px;
      font-size: 15px;
    }

    >textarea {
      height: 130px;
    width: 100%;
    font-size: 17px;
    color: #494949;
    line-height: 1.5;
    border-radius: 2px;
    padding: 15px;
    background-color: #fff;
    box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.05), inset -1px -1px 2px 0 rgba(0,0,0,0.05);
    border: solid 0.5px #ccc;
    box-sizing: border-box;
    }
  }
}